<ion-content class="intro-page">
  <ion-row class="intro-skip">
    <a class="intro-skip-link" (click)="goHome()">Omitir</a>
  </ion-row>

  <swiper-container loop="true" slides-per-view="1" pagination=".custom-swiper-pagination">
    <swiper-slide *ngFor="let introSlider of introSliders">
      <div class="intro-slide">
        <div class="intro-img-wrapper">
          <img [src]="introSlider.image" class="intro-img" />
        </div>
        <div class="intro-text">
          <h2>{{ introSlider.title }}</h2>
          <p>{{ introSlider.description }}</p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="intro-footer">
    <button class="intro-btn" (click)="goHome()">¡Vamos allá!</button>
    <div class="custom-swiper-pagination"></div>
  </div>
</ion-content>
