<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" side="end" type="push">
    <ion-header>
      <ion-toolbar>
        <ion-menu-toggle>
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-menu-toggle>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="goIntro()">Ver la intro</ion-item>
        <ion-item (click)="logOut()">Cerrar sesion</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>


