:root {
  --ion-color-primary: #8a2be2;
  --ion-color-primary-rgb: 138,43,226;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #7925c9;
  --ion-color-primary-tint: #9640e5;

  --ion-color-secondary: #ff69b4;
  --ion-color-secondary-rgb: 255,105,180;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #e05da0;
  --ion-color-secondary-tint: #ff78bb;

  --ion-color-tertiary: #00ced1;
  --ion-color-tertiary-rgb: 0,206,209;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #00b7ba;
  --ion-color-tertiary-tint: #1ad4d6;

  --ion-background-color: #121212;
  --ion-background-color-rgb: 18,18,18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;
}
