<ion-header class="main-header">
  <ion-toolbar>
    <ion-title class="title-center">🎶 Tu Música</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <section class="carousel-section">
    <h2 class="section-title">Álbumes Populares</h2>
    <swiper-container pagination="true" loop="true" slides-per-view="auto">
      <swiper-slide *ngFor="let album of albums" (click)="showSongs(album.id)">
        <div class="slide-card">
          <img [src]="album.image">
          <span>{{ album.name }}</span>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>

  <section class="carousel-section">
    <h2 class="section-title">Artistas Destacados</h2>
    <swiper-container pagination="true" loop="true" slides-per-view="auto">
      <swiper-slide *ngFor="let artist of artists" (click)="showSongsByArtist(artist.id)">
        <div class="slide-card artist-style">
          <img [src]="artist.image">
          <span>{{ artist.name }}</span>
        </div>
      </swiper-slide>
    </swiper-container>
  </section>
</ion-content>

<ion-footer class="player-footer">
  <ion-grid>
    <ion-row class="player-time-row">
      <ion-col>{{ formatTime(currentSong?.currentTime) || "0:00" }}</ion-col>
      <ion-col class="ion-text-end">{{ formatTime(getRemainingTime()) || "0:00" }}</ion-col>
    </ion-row>
    <ion-progress-bar [value]="newTime" color="tertiary"></ion-progress-bar>
    <ion-row class="player-controls">
      <ion-col size="1">
        <ion-icon [color]="song.liked ? 'danger' : 'medium'" name="heart" (click)="toggleLike()"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>{{ song.name || "N/A" }}</ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" *ngIf="!song.playing" (click)="play()"></ion-icon>
        <ion-icon name="pause" *ngIf="song.playing" (click)="pause()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text color="danger" *ngIf="!song?.name"><h2>No hay canción activada</h2></ion-text>
  <ion-text color="success" *ngIf="song?.name"><h2>{{ song.name }}</h2></ion-text>
</ion-footer>
