<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="2">

    <swiper-slide *ngFor="let album of albums" (click)="showSongs(album.id)">
      <div class="slide-content">
        <img [src]="album.image">
        <p>{{ album.name }}</p>
      </div>
    </swiper-slide>

  </swiper-container>

  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="2">

    <swiper-slide *ngFor="let artist of artists" (click)="showSongsByArtist(artist.id)">
      <div class="slide-content">
        <img [src]="artist.image">
        <p>{{ artist.name }}</p>
      </div>
    </swiper-slide>

  </swiper-container>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">{{formatTime(currentSong?.currentTime) || "0:00"}}</ion-col>
      <ion-col class="ion-text-end">{{formatTime(getRemainingTime()) || "0:00"}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="newTime"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon
          [color]="song.liked ? 'danger' : 'medium'"
          name="heart"
          (click)="toggleLike()">
        </ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>{{song.name || "N/A"}}</ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" *ngIf="!song.playing" (click)="play()"></ion-icon>
        <ion-icon name="pause" *ngIf="song.playing" (click)="pause()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text color="danger" *ngIf="!song?.name">
    <h2>Hola</h2>
  </ion-text>
  <ion-text color="primary" *ngIf="song?.name">
    <h2>{{song.name}}</h2>
  </ion-text>
</ion-footer>
