<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="album-content">
  <swiper-container
    loop="true"
    slides-per-view="2"
    space-between="16"
    class="album-swiper"
  >

  
    <swiper-slide *ngFor="let album of albums" (click)="showSongs(album.id)">
      <div class="album-card">
        <img [src]="album.image" [alt]="album.name" />
        <div class="overlay">
          <div class="album-info">
            <h4>{{ album.name }}</h4>
            <p>{{ album.label }}</p>
          </div>
          <ion-icon name="play-circle-outline" class="play-icon"></ion-icon>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
